.main_nav 
{
  display: flex;
  justify-content: space-between;
  padding-top: 1rem; 
}

.menu
{
    display: flex; 
}

.menuItem
{
    padding: 1rem 1.5rem;
}

.menuItems
{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;
}

.main_nav a:hover 
 {
      border-color: #ccc; 
}

.current 
{
    border-color: #ffbc00; 
    
}